---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-[oklch(98.5_0.0011_164.7)] dark:bg-[oklch(18%_0.0045_174.5)] text-[oklch(18%_0.0045_174.5)] dark:text-[oklch(98.5_0.0011_164.7)] min-h-screen">
    <slot />
  </body>
</html>